body, h1, h2, h3, h4, h5, section, ul, li,
input, button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  outline: none;
  box-sizing: inherit;
  background: transparent;
  text: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: PT Sans Narrow;
  background-color: #217194;
}

.gloss-effect {
  display: block;
  position: fixed;
  background: linear-gradient(to top, rgba(255,255,255,0.1), rgba(255,255,255,0.5));
  opacity: 0.5;
  height: 500px;
  border-radius: 50%;
  top: -250px;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
}

.content {
  position: relative;
  z-index: 1;
}

header, .room-info, .chat, .self-info {
  display: block;
  margin: 10px auto;
  padding: 20px;
  width: 500px;
  background-color: #eee;
  border: 1px solid #666;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

h1 {
  font-weight: bold;
  font-size: 26px;
}

h3, h4 {
  font-size: 10px;
}

.room {
  font-size: 22px;
  text-align: center;
}

ul.user-list, ul.messages {
  width: 500px;
  margin: 10px auto;
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.online-user {
  background-color: #DEF5FF;
  border: 1px solid #91B1BF;
  width: 234px;
  padding: 5px;
  box-sizing: border-box;
  float: left;
  margin: 5px 0;
  border-radius: 5px;
  cursor: default;
}

.online-user:nth-child(2n+1) {
  margin-right: 10px;
}

.online-user:hover {
  background-color: #D0F0F0;
}

.info, .errors {
  font-weight: bold;
}

.errors, .system-message {
  color: #f00;
}

.chat {
  overflow-x: visible;
}

.message-input {
  width: 365px;
  background-color: #fff;
  border: 1px solid #000;
  padding: 5px 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.send, .see-commands {
  width: 100px;
  background-color: #4D6DFF;
  color: #fff;
  border: 1px solid #000;
  padding: 5px 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.send:hover {
  background-color: #495FC4;
}

.send:active {
  background-color: #233791;
  box-shadow: 2px 2px 2px black;
}

.see-commands {
  width: 30px;
  position: relative;
  cursor: default;
}

.see-commands:hover .command-list {
  display: block;
}

.command-list {
  display: none;
  position: absolute;
  width: 300px;
  background: #333;
  border: 1px solid #aaa;
  border-radius: 5px;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  font-weight: normal;
  padding: 5px;
  overflow: hidden;
  z-index: 1000;
}

.command-type {
  padding-right: 5px;
  padding-left: 10px;
}

.messages {
  height: 300px;
  overflow-y: scroll;
}

.messages li {
  position: relative;
  border-radius: 5px;
  padding: 2px 5px;
}

.messages li:hover {
  background: #eee;
}

.messages li:hover:before {
  display: block;
  position: absolute;
  right: 0px;
  top: 100%;
  background: black;
  color: #fff;
  border-radius: 5px;
  content: attr(data-time);
  padding: 5px 10px;
  z-index: 100;
}

.messages li:active:before {
  display: block;
  position: absolute;
  right: 0px;
  top: 100%;
  background: black;
  color: #fff;
  border-radius: 5px;
  content: attr(data-date);
  padding: 5px 10px;
  z-index: 100;
}

.name {
  letter-spacing: 1px;
}

.online-user-hover {
  color: #04f;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
